body {
  color: red;
  padding: 2em;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-shrink: inherit;
  flex-flow: row wrap;
}

.flex-container > * {
  border: 1px black solid;
  text-align: center;
  height: 100px;
  width: 100px;
}