* {
  box-sizing: border-box;
}

body {
  color: red;
  font-weight: bold;
  padding: 2em;
  text-align: center;
}

.flex-container > * {
  border: 1px black solid;
  text-align: center;
  flex: 1 100%;
  height: 100px;
  width: 100px;
}